VITE_API_BASE_URL=http://localhost:5000

VITE_FIREBASE_API_KEY=AIzaSyDHn1vYZSKo_X2pb5bMx-6Ty4Xi-HIkI5Y
VITE_FIREBASE_AUTH_DOMAIN=i-mentor-27122.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-mentor-27122
VITE_FIREBASE_STORAGE_BUCKET=ai-mentor-27122.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=607613498351
VITE_FIREBASE_APP_ID=1:607613498351:web:b5d17def9d7862ecbfbc1a
