VITE_API_BASE_URL=http://localhost:5000

VITE_FIREBASE_API_KEY=AIzaSyD2FDYS6KcQQcD7wQ82-ulFGAgk8xmWkxc
VITE_FIREBASE_AUTH_DOMAIN=ai-mentor-709d7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-mentor-709d7
VITE_FIREBASE_STORAGE_BUCKET=ai-mentor-709d7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=767568945590
VITE_FIREBASE_APP_ID=1:767568945590:web:8244668374ffa0673e2117
VITE_STRIPE_PUBLISHABLE_KEY=G-CRQZD33SL6
