GEMINI_API_KEY=AIzaSyB9WYFSA9PPMLEpeHaSQEAzQnS0m7fgxJQ

# Cloudinary Configuration (for video cloud storage)
CLOUDINARY_CLOUD_NAME=dk99zg88e
CLOUDINARY_API_KEY=854123647481941
CLOUDINARY_API_SECRET=@dk99zg88e
