#DEEPSEEK_API_KEY(Gemini ki jagah)
DEEPSEEK_API_KEY=deepseek_api_key

# Groq API (deepseek ki jagah)
GROQ_API_KEY=GROQ_API_KEY

# Gemini API
GEMINI_API_KEY=GEMINI_API_KEY

# Cloudinary Configuration (for video cloud storage)
CLOUDINARY_CLOUD_NAME=CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET

# 🔥 Elevenlabs API
Elevenlabs_AUDIO_API_KEY=Elevenlabs_AUDIO_API_KEY

# Elevenlabs Audio Voice IDs (Real Indian celebrity voices)
Elevenlabs_VOICE_MODI=Elevenlabs_VOICE_MODI
Elevenlabs_VOICE_SALMAN=Elevenlabs_VOICE_SALMAN
Elevenlabs_VOICE_SRK=Elevenlabs_VOICE_SRK

# Elevenlabs_VOICE_OWL=Elevenlabs_VOICE_OWL
