@import "tailwindcss";

/* =========================
   FORCE DARK MODE (SAFE)
========================= */

body.dark {
  background-color: #0f172a !important;
  color: #dbe1eb !important;
}

/* Force dark ONLY for layout elements */
body.dark main,
body.dark section,
body.dark div,
body.dark p,
body.dark span,
body.dark header,
body.dark footer,
body.dark aside,
body.dark nav,
body.dark article {
  background-color: #020617  !important;
  color: #ecf0f7 !important;
}

/* Keep colored buttons visible */
body.dark .btn-primary,
body.dark .btn-success,
body.dark .btn-danger,
body.dark .btn-warning,
body.dark .btn-info,
body.dark .btn-gradient {
  filter: brightness(1.05);
}

/* =========================
   INPUTS
========================= */

body.dark input,
body.dark textarea,
body.dark select {
  background-color: #020617 !important;
  color: #ecf0f7 !important;
  border-color: #334155 !important;
}

/* Muted text */
body.dark .text-muted {
  color: #ecf0f7 !important;
}


/* =========================
   UTILITIES / EXTRA
========================= */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-gradient {
  background: linear-gradient(90deg, #4facfe, #7846aa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient {
  background: linear-gradient(135deg, #2186df, #02ffbb);
  border: none;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  opacity: 0.9;
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(79, 172, 254, 0.4);
}

.password-input {
  font-size: 2rem;
  letter-spacing: 0.35rem;
  font-weight: 900;
}

/* =========================
   SCROLLBAR
========================= */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

body.dark ::-webkit-scrollbar-track {
  background: #020617;
}

body.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 1024px) {
  .w-70 {
    width: 16rem;
  }
}

@media (max-width: 768px) {
  .sidebar-hidden {
    transform: translateX(-100%);
  }
}
